:root {
  --main-font: "Roboto", sans-serif;
  --secondary-font: "Raleway", sans-serif;
  --title-dark-color: #212121;
  --title-grey-color: #757575;
  --title-white-color: #ffffff;
  --accent-color: #2196f3;
  --button-hover-color: #188ce8;
}

/* ---стализация Header */

/* стилизация Героя  */

/* стилизация общая заголовков (чем занимаеся,наша команда, постоянный клиенты)*/
.caption {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.67;
  text-align: center;
  color: var(--title-dark-color);
}

/* команда-фамилии */
.subtitle-surname,
.usteam-text {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  text-align: center;

  color: var(--title-dark-color);
}

/*команда-профессии */
.section-us-team {
  background-color: #f5f4fa;
}
.us-team-title {
  margin-bottom: 50px;
}
.us-team-photo {
  margin-bottom: 30px;
}
.subtitle-surname {
  margin-bottom: 10px;
}
.us-team-list {
  display: flex;
  /* justify-content: space-between; */
}
.us-team-list-item {
  display: block;
  width: calc((100% - 90px) / 4);
  box-shadow: 0px 2px 1px rgba(0, 0, 0, 0.2), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 1px 3px rgba(0, 0, 0, 0.12);
  border-radius: 0px 0px 4px 4px;
}
.us-team-list-item:not(:last-child) {
  margin-right: 30px;
}

.usteam-text {
  margin-bottom: 16px;
  font-weight: 400;
  color: var(--title-grey-color);
}
.social-list {
  display: flex;
  justify-content: center;
}
.social-list-item {
  padding-bottom: 24px;
}
.sosial-link {
  display: flex;
  width: 44px;
  height: 44px;
  border: none;
  border-radius: 50%;
  align-items: center;
  justify-content: center;
  transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.sochial-icons {
  width: 20px;
  height: 20px;
  fill: #afb1b8;
}
.sosial-link:hover {
  background-color: #2196f3;
  cursor: pointer;
}
.sosial-link:hover .sochial-icons {
  fill: #ffffff;
  cursor: pointer;
}
.social-list-item:not(:last-child) {
  margin-right: 10px;
}

.social-list {
  display: flex;
}

/*наши постоянные клиенты  */
.section-clients {
  justify-content: space-between;
}
.clients-title {
  margin-bottom: 50px;
}
.clients-list {
  display: flex;
  justify-content: space-between;
}
.clients-item {
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
}
.clients-item:not(:last-child) {
  margin-right: 30px;
}
.clients-link {
  display: flex;
  width: 170px;
  height: 90px;
  border: 1px solid #afb1b8;
  border-radius: 4px;
  align-items: center;
  justify-content: center;
  color: #afb1b8;
  transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.clients-svgdiv {
  fill: currentColor;
}

.clients-link:hover {
  color: var(--accent-color);
  border-color: var(--accent-color);
  cursor: pointer;
}
.clients-svgdiv:hover {
  fill: currentColor;
  cursor: pointer;
}

/* _________________________________________________________________________________ */
/* стилизация второй страницы */

/*стилизация полоски в хедере  */
.pageheader-portfolio {
  border-bottom: 1px solid #ececec;
}

/* стилизация переключатеелей */

.cont-portfolio {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}
.portfolio-section {
  padding-top: 99px;
  padding-bottom: 99px;
}
.portfolio-list {
  display: inline-flex;
}

.item-portfolio:not(:last-child) {
  margin-right: 8px;
}
/* стилизация кнопопок-переключателей портфолио */
.btn-portfolio {
  display: block;
  font-family: inherit;
  padding: 6px 22px;
  border-radius: 4px;
  /* border-color: transparent; */
  font-weight: 500;
  font-size: 16px;
  line-height: 1.63;
  text-align: center;
  background: #f5f4fa;
  color: var(--title-dark-color);
  transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
  border: none;
}

.btn-portfolio:hover,
.btn-portfolio:focus {
  cursor: pointer;
  color: var(--title-white-color);
  background-color: var(--accent-color);
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.12), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 3px 1px rgba(0, 0, 0, 0.1);
}

/* стилизация картинок портфолио */
.examples-image-div {
  position: relative;
  overflow: hidden;
}
.overlay-div {
  position: absolute;
  top: 0;
  bottom: 0;

  /* left: 0; */
  /* opacity: 0; */
  transform: translateY(100%);
  width: 100%;
  height: 100%;
  background: rgba(33, 150, 243, 0.9);
  color: #ffffff;
  transition: all 0.5s linear;
}
.overlay-text {
  /* display: flex; */
  padding: 63px 24px;
  align-items: center;
  font-size: 18px;
  line-height: 1.55;
}

.examples-title {
  margin-bottom: 4px;
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--title-dark-color);
}
.examples-image {
  display: inline-block;
}
/*  список  */
.examples-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: start;
  align-items: center;
}
/* элемент списка */
.examples-item {
  width: calc((100% - 60px) / 3);
  margin-right: 30px;
  margin-bottom: 30px;
  text-align: start;
  border: 1px solid #eeeeee;
  transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.examples-item:hover {
  cursor: pointer;
  box-shadow: 1px 4px 6px rgba(0, 0, 0, 0.16), 0px 4px 4px rgba(0, 0, 0, 0.06),
    0px 1px 1px rgba(0, 0, 0, 0.12);
}
.examples-item :hover .overlay-div {
  /* opacity: 1; */
  transform: translateY(0);
}

.examples-item:nth-last-child(-n + 3) {
  margin-bottom: 0px;
}
.examples-item:nth-child(3n) {
  margin-right: 0px;
}
/* стилизация абзацов */
.examples-div {
  padding: 20px 24px;
}
.directions-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.03em;
  color: var(--title-grey-color);
}

/* стилизация заголовков с названием коммпаний */
/* технохряк абхац */

/* стилизация абзацов с указанием вида продукции */

/* ----------------------------------------------------------------------------- */
/* Подвал-адресс */
.footerpage {
  background-color: #2f303a;
  border: 1px solid #2196f3;
}
.block-adress .link-logo {
  color: #ffffff;
}

.footerdiv {
  display: flex;
  align-items: baseline;
}
.join-div {
  display: inline-block;
  align-items: center;
  justify-content: flex-start;
  margin-right: 94px;
}

.join-list {
  display: flex;
  justify-content: center;
  align-items: center;
}
.sochial-icons {
  display: inline-flex;
  background-position: center;
  width: 20px;
  height: 20px;
}
.sochial-icons:hover,
.sochial-icons:focus {
  fill: #ffffff;
}
.join-list-item {
  margin-right: 10px;
}
.join-list-item:last-child {
  margin-right: 0px;
}
.join-text {
  text-align: center;
  margin-bottom: 20px;
  padding-left: 12px;
}
.block-adress {
  padding-top: 60px;
  padding-bottom: 60px;
  margin-right: 69px;
}

.adress {
  margin-top: 20px;
}

.adress-list-item > .contacts-link {
  padding: 0px;
}

.adress-list-item:not(:last-child) {
  margin-bottom: 9px;
}

.adress-text {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  color: #ffffff;
  font-style: normal;
}

/* стилизация двух тегов b(присоединяйся и подписаться на пассылку) */
.action {
  font-weight: 700;
  line-height: 1.14;
  text-transform: uppercase;
  color: #ffffff;
}
.subscribeletters {
  display: block;
  align-items: center;
  margin-bottom: 20px;
}
.subscribe-div {
  display: flex;
}

.subscribe-input {
  display: inline-block;
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 4px;
  width: 398px;
  height: 50px;
  color: #fff;
  background-color: #2f303a;
}

.subscribe-buton {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 12px;
  padding: 10px 29px 10px 29px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  border-radius: 4px;
  border-color: transparent;

  color: var(--title-white-color);
  background-color: var(--button-hover-color);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.subscribe-buton:hover,
.subscribe-buton:focus {
  cursor: pointer;
  background-color: #188ce8;
}

.subscribe-image::after {
  display: inline-flex;
  background-image: url(../img/svg/icon-send.svg);
  content: "";
  background-repeat: no-repeat;
  width: 24px;
  height: 24px;
  background-size: cover;
  background-position: center;
  margin-left: 10px;
}
/* стилиация формы_______________________________________________________________ */
